<div class="container mb-5">
    <h3>Редактировать пост #{{post.id}} - {{post.title}}</h3>
    <form action="{{adminItemUrl 'posts'post.id}}/?_method=PUT" class="form needs-validation" method="POST">
        <div class="form-group">
            <label for="title">Title</label>
            <input value="{{post.title}}" type="text" class="form-control {{#if inputError.title}}is-invalid{{/if}}" name="title" id="title">
            <div class="invalid-feedback">
                <span>Has to be filled & Cannot consist of spacebars only</span>
            </div>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" class="form-control {{#if inputError.description}}is-invalid{{/if}}" id="description">{{post.description}}</textarea>
            <div class="invalid-feedback">
                <span>Has to be filled & Cannot consist of spacebars only</span>
            </div>
        </div>
        <div class="form-group">
            <label for="h1">H1</label>
            <input value="{{post.h1}}" type="text" class="form-control {{#if inputError.h1}}is-invalid{{/if}}" name="h1" id="h1">
            <div class="invalid-feedback">
                <span>Has to be filled & Cannot consist of spacebars only</span>
            </div>
        </div>
        <div class="form-group">
            <label for="slug">Slug</label>
            <input value="{{post.slug}}" type="text" class="form-control {{#if inputError.slug}}is-invalid{{/if}}" name="slug" id="slug">
            <div class="invalid-feedback">
                <span>Has to be filled & Cannot consist of spacebars only</span>
            </div>
        </div>
        <div class="form-group">
            <label for="link">Link</label>
            <input value="{{post.link}}" type="text" class="form-control {{#if inputError.link}}is-invalid{{/if}}" name="link" id="link">
            <div class="invalid-feedback">
                <span>Has to be filled & Cannot consist of spacebars only</span>
            </div>
        </div>
        <div class="form-group">
            <label for="anchor">Anchor</label>
            <input value="{{post.anchor}}" type="text" class="form-control {{#if inputError.anchor}}is-invalid{{/if}}" name="anchor" id="anchor"
                placeholder="Anchor">
            <div class="invalid-feedback">
                <span>Has to be filled & Cannot consist of spacebars only</span>
            </div>
        </div>
        <div class="form-group">
            <label for="text">Content</label>
            <textarea name="text" class="form-control {{#if inputError.text}}is-invalid{{/if}}" id="text" rows="10">{{post.text}}</textarea>
            <div class="invalid-feedback">
                <span>Has to be filled & Cannot consist of spacebars only</span>
            </div>
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <select name="category" id="category" class="custom-select">
                {{#each categories}}
                <option {{#compare id '===' ../post.categoryId }} selected {{/compare}}value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <button type="submit" class="btn btn-default btn-success">Сохранить</button>

    </form>
</div>