<div class="container mb-5">
    <h3>Редактировать Категорию #{{category.id}} - {{category.name}}</h3>
    <form action="{{adminItemUrl 'categories'category.id}}/?_method=PUT" class="form needs-validation" method="POST">
        <div class="form-group">
            <label for="name">Name</label>
            <input value="{{category.name}}" type="text" class="form-control {{#if inputError.name}}is-invalid{{/if}}" name="name" id="name">
            <div class="invalid-feedback">
                <span>Has to be filled & Cannot consist of spacebars only</span>
            </div>
        </div>
        <div class="form-group">
            <label for="title">Title</label>
            <input value="{{category.title}}" type="text" class="form-control {{#if inputError.title}}is-invalid{{/if}}" name="title" id="title">
            <div class="invalid-feedback">
                <span>Has to be filled & Cannot consist of spacebars only</span>
            </div>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" class="form-control {{#if inputError.description}}is-invalid{{/if}}" id="description"
            >{{category.description}}</textarea>
            <div class="invalid-feedback">
                <span>Has to be filled & Cannot consist of spacebars only</span>
            </div>
        </div>
        <div class="form-group">
            <label for="h1">H1</label>
            <input value="{{category.h1}}" type="text" class="form-control {{#if inputError.h1}}is-invalid{{/if}}" name="h1" id="h1">
            <div class="invalid-feedback">
                <span>Has to be filled & Cannot consist of spacebars only</span>
            </div>
        </div>
        <div class="form-group">
            <label for="slug">Slug</label>
            <input value="{{category.slug}}" type="text" class="form-control {{#if inputError.slug}}is-invalid{{/if}}" name="slug" id="slug">
            <div class="invalid-feedback">
                <span>Has to be filled & Cannot consist of spacebars only</span>
            </div>
        </div>

        <button type="submit" class="btn btn-default btn-success">Сохранить</button>

    </form>
</div>